//En este archivo se encuentran todos los mixins utilizados para brindar reglas a lo largo de la pagina
@use './vars';

//Este mixin ayuda a alinear de forma horizontal los elementos dentro de un contenedor
@mixin row(){
    display: flex;
    align-items: center;
    //flex-direction: row;
}

//Este mixin ayuda a diagrama un contenedor como una matriz
@mixin grid($gap){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); //Esto se debe revisar para ver si el tamaño de las columnas(cards) pueden ser variables
    gap: $gap;
}

//Este mixin ayuda a definir las reglas de estilo basicas que cambiarían en caso de pasar el mouse por encima de ciertos elementos (Es un hover bastante basico, pero ahorra mucho codigo)
@mixin hover($bg : vars.$trans-N0, $color : vars.$red){
    &:hover{
        color: $color;
        background: $bg;
        cursor: pointer;
    }
}

//Este mixin ayuda a definir reglas de estilo a textos
@mixin set-font($size : vars.$fs-xxxsm, $weight : vars.$fw-lig, $color : vars.$black){
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-decoration: none;
}

//Este mixin ayuda a definir reglas de estilo en base a la posición de un elemento
@mixin set-position($position, $fst : 0, $snd : 0, $trd : 0, $z-i : 0){
    @if($position == fixed){
        position: fixed;
        left: $snd;
        right: $trd;
        z-index: $z-i;
    } @else if($position == absolute){
        position: absolute;
        right: $snd;
    }
        top: $fst;
}

//Este mixin ayuda a definir reglas de estilo para los sections del home-page, incluyndo el fondo
@mixin set-section-bg($img, $overlay : 0, $color : vars.$trans-N0, $height : 100vh){
    min-height: $height;
    display: flex;
    align-items: center;
    @if($overlay == 0){
        background: url($img) no-repeat;
    }@else if($overlay == 1){
        background: linear-gradient(0deg, $color, $color), url($img) no-repeat;
    }
    background-size: cover;
    background-position: center;
}

//Este mixin ayuda a definir reglas de estilo a elementos que se desplieguen como un card
@mixin set-card-shape($br : vars.$r-2, $bg-color : vars.$white, $opacity : 0){
    background: $bg-color;
    border-radius: $br;
    box-shadow:  -5px 5px 20px -1px $opacity;
    -webkit-box-shadow:  -5px 5px 20px -1px $opacity;
    -moz-box-shadow:  -5px 5px 20px -1px $opacity;
}

//Este mixin ayuda a definir una transformación de un elemento
@mixin set-transform($scale : vars.$s-11){
    transform: translate($scale);
    transition: .65s ease;
}

//Este mixin ayuda a definir reglas de estilo para botones que contengan texto adentro
@mixin set-text-button($size: vars.$fs-xsm){
    @include set-font($size, vars.$fw-sem, vars.$red);
    background: vars.$trans-N0;
    border: 2.5px solid vars.$red;
    border-radius: vars.$r-2;
    transition: background .35s ease-out, color .35s ease-out;
    @include hover(vars.$red, vars.$white);
}

//Este mixin ayuda a definir reglas de estilo para botones de tipo icono
@mixin set-icon-button($size, $color : vars.$white){
    font-size: $size;
    color: $color;
    border: none;
    background: transparent;
    @include hover();
}