//Este archivo contiene las reglas de estilo del nav que se utilizará para la pagina
@use '../abstracts/vars';
@use '../abstracts/mixins';

.header{
    @include mixins.row();
    @include mixins.set-position(fixed, vars.$s-4, 0, 0, 1000);
}

.logo{
    @include mixins.set-font(vars.$fs-xlg, vars.$fw-ext, vars.$red);
    margin-left: vars.$m-4;
}

.nav{
    @include mixins.row();
    justify-content: space-between;
    padding: vars.$p-2 0;
    position: absolute;
    width: 100%;
}

.nav-items{
    @include mixins.row();
    list-style: none;
    padding: 0;
    gap: vars.$g-4;
}

.nav-item{
    @include mixins.set-font(vars.$fs-xxsm, vars.$fw-lig);
    &:hover{
        @include mixins.set-font(vars.$fs-xxsm, vars.$fw-lig ,vars.$red);
    }
}

.nav-icons{
    @include mixins.row();
    margin-right: vars.$m-4;
    gap: vars.$g-2;
}

.nav-icon{
    @include mixins.set-icon-button(vars.$fs-xxsm, vars.$black);
}

.nav-search{
    @include mixins.set-position(absolute, vars.$s-5, vars.$s-4);
}

#menu-btn{
    display: none;
}