//Este es el archivo que contiene las reglas de estilo y los llamados a reglas de otros archivos necesarias para el homepage
@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../base/base';
@use '../layout/header';
@use '../layout/footer';
@use '../components/search-bar';
@use '../components/filters';
@use '../components/user-box';
@use '../components/buttons';
@use '../components/card';
@import url(../vendor/normalize.css);

//Reglas del section home
.home{
    @include mixins.set-section-bg("../../img/home.jpg");
}


//Reglas del section description
.description{
    @include mixins.set-section-bg("../../img/description.jpg");
}

.description-container{
    margin-left: vars.$m-7;
    max-width: 80vh;
}

.description-title{
    @include mixins.set-font(vars.$fs-xxxlg, vars.$fw-bol, vars.$white);
    margin: 0;
    margin-bottom: vars.$m-4;
}

.description-text{
    @include mixins.set-font(vars.$fs-xsm, vars.$fw-med, vars.$white);
    margin: 0;
    margin-bottom: vars.$m-4;
    .highlighter{
        @include mixins.set-font(vars.$fs-xsm, vars.$fw-med, vars.$red);
    }
}


//Reglas del section most voted
.most-voted{
    @include mixins.set-section-bg("../../img/most_voted.jpg", 1, vars.$trans-N4);
    flex-direction: column;
    padding: 0 vars.$p-7 vars.$p-5 vars.$p-7 ;
}

.title-container{
    @include mixins.row();
    width: 100%;
    justify-content: space-between;
    margin-top: vars.$m-5;
    margin-bottom: vars.$m-4;
}

.most-voted-title{
    @include mixins.set-font(vars.$fs-xxxlg, vars.$fw-bol, vars.$white);
    margin: 0;
}

.recipebook-link{
    @include mixins.set-font(vars.$fs-xxxsm, vars.$fw-lig, vars.$white);
    margin: 0;
    @include mixins.hover();
}

.most-voted-container{
    width: 100%;
    @include mixins.grid(vars.$g-2, 18.3);
}