//Este es el archivo que contiene las reglas de estilo y los llamados a reglas de otros archivos necesarias para el homepage

@use '../base/base';
@use '../layout/header';
@use '../components/search-bar';
@use '../components/filters';
@use '../components/user-box';
@import url(../vendor/normalize.css);

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../../../dist/img/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}