//Este es el archivo que contiene las reglas de estilo y los llamados a reglas de otros archivos necesarias para la pagina del recetario
@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../base/base';
@use '../layout/header';
@use '../layout/footer';
@use '../components/search-bar';
@use '../components/filters';
@use '../components/user-options';
@use '../components/user-profile';
@use '../components/buttons';
@use '../components/card';
@use '../components/modal';
@import url(../vendor/normalize.css);

.recipe-book{
    @include mixins.set-section-bg("../../img/recipe-book.jpg",1, vars.$trans-W1);
    flex-direction: column;
    align-items: flex-start;
    padding: vars.$p-6 vars.$p-8 vars.$p-5 vars.$p-8;

    //***Media Queries***
    @include mixins.respond-to(vars.$tablet-landscape){
        padding: vars.$p-4 vars.$p-3 vars.$p-5 vars.$p-3;
    }

    @include mixins.respond-to(vars.$phone){
        padding: vars.$p-4 0 vars.$p-5 0;
    }
}

.recipe-book-title{
    @include mixins.set-font(vars.$fs-big, vars.$fw-sem, vars.$red);
    margin-bottom: vars.$m-3;

    //***Media Queries***
    @include mixins.respond-to(vars.$tablet-landscape){
        margin: vars.$m-4 + vars.$m-2 0 vars.$m-2 vars.$m-3;
    }

    @include mixins.respond-to(vars.$phone){
        @include mixins.set-font(vars.$fs-sm, vars.$fw-sem, vars.$red);
        margin: vars.$m-4 0 vars.$m-2 vars.$m-3;
    }
}

.recipes-container{
    width: 100%;
    @include mixins.grid(vars.$g-2, 20);
}

