//Este archivo contiene las reglas de estilo de la barra de busqueda que se utilizará en la aplicación
@use '../abstracts/vars';
@use '../abstracts/mixins';

.search-form{
    @include mixins.row();
    @include mixins.set-card-shape(vars.$r-2, vars.$trans-N2);
    width: vars.$s-10;
    padding: vars.$p-2 vars.$p-3;
    justify-content: space-between;
    transition: .65s ease;

    //***Media Querie***
    @include mixins.respond-to(vars.$tablet-landscape){
        width: 98%;
    }
}

.search-form.active{
    @include mixins.set-transformX();

    //***Media Querie***
    @include mixins.respond-to(vars.$tablet-landscape){
        @include mixins.set-transformY();
    }

    @include mixins.respond-to(vars.$phone){
        @include mixins.set-transformY(53rem);
    }
}

.search-input{
    @include mixins.set-font(vars.$fs-xxxsm, vars.$fw-lig, vars.$white);
    @include mixins.set-card-shape(0, vars.$trans-N0);
    text-transform: none;
    border: none;
}

.search-icons{
    @include mixins.row();
    gap: vars.$g-1;
}
