//Este archivo contiene las reglas de estilo del card que muestre opciones para el usuario durente la aplicación
@use '../abstracts/vars';
@use '../abstracts/mixins';


.options{
    @include mixins.set-card-shape(vars.$r-2, vars.$white, vars.$trans-N1);
    padding: vars.$p-3;
    transition: .65s ease;
}

.options.active{
    @include mixins.set-transformX();

    //***Media Querie***
    @include mixins.respond-to(vars.$tablet-landscape){
        @include mixins.set-transformY();
    }

    @include mixins.respond-to(vars.$phone){
        @include mixins.set-transformY(53rem);
    }
}

.options-list{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: vars.$g-2;
}

.option-icon{
    font-size: vars.$fs-xxsm;
    margin: 0;
}